body {
    margin: 0;
    background-color: #2f2f2f;
    
}

h2  {
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    color: #999;
    text-align: center;
    text-shadow: #424242 solid 2px;
} 

form {
    box-sizing: content-box;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px #999;
    padding: 30px;
    margin: 190px auto;
    width: 40%;
    height: 70% ; 
    
    
}


.form_input {
    padding: 0 20px;
    
    
    
}

input,select    {
    background-color:  #262626 ;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid white;
    margin-bottom: 10px; 
    resize: none;
    
}   


.submit_button{
    background-color:  #262626 ;
    color: white;
    margin: 3% 0 20% ;
    text-decoration: none;
    width: 590px;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;   
    border: 1px solid white;
    margin-bottom: 10px;

}

label {
    color: #999;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2px;
    
}

.CheckBox {
    color: white;
    width: auto;
    height: 10px;
}

textarea  {
    min-width: 100%;
    min-height: 190px;
    resize: none;
    color: white;
    background-color: #1a1a1a;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
